@import "./colors.module.scss";

.contactSection {
  position: relative;
  width: 100vw;
  height: 800px;
  background-image: linear-gradient(#ffffffc9, #ffffffc9),
    url("../../public/assets/Background-Contact-Form.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
}

.contactForm {
  display: grid;
  justify-self: flex-end;
  align-self: center;
  text-align: center;
  margin-right: 14rem;

  img {
    margin-top: 2.5rem;
    margin-bottom: 7rem;
    justify-self: center;
  }
  label {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }
}

.contactInputsBox {
  display: flex;
  gap: 1.6rem;

  .contactInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    input {
      border: none;
      border-bottom: 1px solid $color-dark-gray;
      width: 25rem;
      background-color: transparent;
      font-size: 1.8rem;
      outline: none;
    }

    input::placeholder {
      color: $color-light-gray;
      opacity: 0.5;
    }
  }
}

.contactTextarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4rem;

  textarea {
    border: none;
    font-family: inherit;
    border-bottom: 1px solid $color-dark-gray;
    background-color: transparent;
    font-size: 1.8rem;
    height: 10rem;
    width: 53rem;
    resize: none;
  }

  textarea::placeholder {
    color: $color-light-gray;
    opacity: 0.5;
  }
}

.formBtn {
  display: inline-block;
  font-size: 1.8rem;
  border: 1px solid black;
  padding: 1.3rem 5rem;
  margin-top: 4rem;
  justify-self: right;
}

.copyright {
  position: absolute;
  font-size: 1.8rem;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0%);
  margin-bottom: 2rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
  align-self: end;
  margin-right: 14rem;
  margin-bottom: 2rem;

  img {
    margin-left: 2rem;
  }
}
