@import "./colors.module.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  color: $color-dark-gray;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $color-dark-gray;
  cursor: pointer;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

h2 {
  font-size: 3.8rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}