@import "./colors.module.scss";

.navigationList {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5.5rem;
  list-style: none;
  margin-right: 14rem;

  a {
    color: $color-dark-gray;
  }
}
